body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 500px;
  height: 200px;
  position: relative;
  z-index: 999;
  background-color: white;
}
