*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
}
#phone{
    /*width: 1125px;*/
    /*height: 2436px;*/

    width: 375px;
    /*width: 100%;*/
    height: 812px;
    /*background-color: darkslateblue;*/
    /*border: 1px solid gray;*/
    background-color: #ececec;
}

@media only screen and (max-width: 600px) {
    #phone{
        width: 100%;
        /*height: 812px;*/
        height: 100%;
    }
}

#place-message{
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 0;
    background-color: #fb3e38;
    color: white;
    height: fit-content;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.30);
    /*margin-bottom: 20px;*/
    /*position: fixed;*/
    z-index: 1;
}

#phone-rotate-message{
    padding: 25px 0;
    background-color: white;
    height: fit-content;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.30);
    /*margin: 60px 0 0 0*/
}

#phone-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item{
    height: 50px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}

#alpha, #rotation{
    height: fit-content;
}

#rotate-message-top{
    display: flex;
    margin: 10px;
}

#rotate-message-icon{
    width: 25%;
}

#rotate-message-icon img{
    width: 50px;
    height:50px;
}
#rotate-message-text{
    width: 75%;
    line-height: 60px;
}

#rotate-message-bottom{
    text-align: right;
    margin-right: 20px;
    /*color: #7E57C2;*/
    color: rgba(0, 0, 0, 0.70);
    letter-spacing: 0.1em;
}

#rotate-message-bottom a {
    text-decoration: none;
}

#VR{
    width: 100%;
    height: 100%;
    display: none;
}

iframe{
    width: 100%;
    height: 100%;
}